.navBar,
.swipeSchedulePage .scheduleTitle,
.tabs .tabBar,
.responsive .masterDetail .blueBar,
.miniPopupContent .buttonRight {
    background-color: var(--mainColor) !important;
}
.form .button {
    background: var(--mainColor) !important;
}
.miniPopupContent .buttonRight {
    border-color: var(--mainColor) !important;
}

body,
.daySchedule .dayTitle,
.compactAppointmentItem,
.appointmentDetailInfo,
.appointmentItem,
.appointmentItemWithOptionalSwitch,
.menuPage,
.weekHeader .arrowRightIcon,
.weekHeader .arrowLeftIcon,
.subjectSelectionMadeChoices .subjectText,
.subjectSelectionMadeChoices .subjectTextItalic,
.subjectSelectionMadeChoices .buttonTrue,
.personListItem .title,
.personListItem .teacherAdditionalRole,
.personListItem .teacherName,
.settingsPage,
.weekSchedule .dayTitle,
.swipeSchedulePage.showWeek .week,
.appointmentChoiceItem,
a,
h2,
.miniPopupContent .messageContent,
.miniPopupContent .title,
.swipeSchedulePage.showDay .day {
    color: var(--mainTextColor) !important;
}
.menuPage .item .icon,
.settingsPage .item .icon {
    color: var(--iconColor) !important;
}
.swipeSchedulePage .scheduleTitle .dayWeek {
    background-color: var(--darkMainColor) !important;
}

.menuPage .item:hover,
.menuPage .item:hover .icon,
.settingsPage .item:hover,
.settingsPage .item:hover .icon {
    color: var(--mainHoverColor) !important;
    cursor: pointer !important;
}


.compactAppointmentItem .appointmentBar,
.appointmentItem .appointmentBar,
.appointmentChoiceItem .appointmentBar {
    background-color: var(--generalColor) !important;
}
.compactAppointmentItem .appointmentBlock,
.appointmentChoiceItem .appointmentBlock,
.appointmentItem .appointmentBlock {
    border: 1px solid var(--generalColorLight) !important;
}
.appointmentItem.notEnrolledFixed .appointmentBlock {
    border: 1px dashed var(--generalColorLight) !important;
}
.compactAppointmentItem.selectedItem .appointmentBlock,
.appointmentItem.selectedItem .appointmentBlock {
    background-color: var(--veryLightGeneralColor) !important;
}

.compactAppointmentItem.exam .appointmentBar,
.appointmentItem.exam .appointmentBar {
    background-color: var(--examColor) !important;
}

.appointmentItem.exam .appointmentBlock,
.compactAppointmentItem.exam .appointmentBlock {
    border: 1px solid var(--examColor) !important;
}
.appointmentItem.selectedItem.exam .appointmentBlock,
.compactAppointmentItem.selectedItem.exam .appointmentBlock {
    background-color: var(--veryLightExamColor) !important;

}

.compactAppointmentItem.activity .appointmentBar,
.appointmentItem.activity .appointmentBar {
    background-color: var(--activityColor) !important;
}

.compactAppointmentItem.activity .appointmentBlock,
.appointmentItem.activity .appointmentBlock {
    border: 1px solid var(--activityLightColor) !important;
}
.appointmentItem.selectedItem.activity .appointmentBlock,
.compactAppointmentItem.selectedItem.activity .appointmentBlock {
    background-color: var(--veryLightActivityColor) !important;
}

.item.custom {
    margin: 0px;
    display: inline-block;
    font-size: 14px;
}

.colors-list > div {
    margin-left: 16px;
}

.colorCircle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}

input[name="hexColor"] {
    outline: none !important;
    color: #000 !important;
    display: inline-block !important;
    cursor: text !important;
    vertical-align: top !important;
    padding: 15px 10px !important;
    background: transparent !important;
    border: none !important;
    box-sizing: border-box !important;
    width: auto !important;
    margin-bottom: auto !important;
    margin-top: auto !important;
    font-size: auto !important;
}

.hiddenColorPicker {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

.logo {
    width: 70% !important;
    margin-bottom: 0px !important;
    height: 100% !important;
}
.form input[type="checkbox"]:checked {
    accent-color: var(--iconColor) !important;
}

.menuButton {
    display: block; /* Changed from inline-block to inline-flex */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center items horizontally */
    margin-left: 16px;
    margin: 8px;
}

.menuButton .menuCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.menuButton .menuCheckbox:checked {
    background-color: var(--iconColor);
    border-color: var(--iconColor);
}

.menuButton .menuCheckbox:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.menuButton label {
    margin-left: 8px;
    vertical-align: middle;
}

.bottomMargin {
    margin-bottom: 16px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--iconColor);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--iconColor);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }